# Rename .env.example to .env

# === Main Database Setup ===
DB_USER=root
DB_HOST=127.0.0.1
DB_NAME=airline
DB_PASS=
DB_PORT=3307

# === Testing Database Setup ===
DB_TEST_NAME=airline_test
DB_TEST_PASS=
DB_TEST_PORT=3308